name: Daily Stock Scanner

on:
  schedule:
    - cron: '30 23 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 코드 가져오기
        uses: actions/checkout@v3

      - name: 파이썬 설치 (3.11 버전 확인 필수!)
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'  # 여기가 3.9면 절대 안 됩니다!

      - name: 라이브러리 설치
        run: |
          pip install pandas yfinance finance-datareader requests lxml beautifulsoup4

      - name: 스캐너 실행
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py
